<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title><%= htmlWebpackPlugin.options.title %></title>
	<meta name="Keywords" content="小包总,个人博客,自学,前端,web,文章,nodejs,webpack,vue,react">
	<meta name="description" content="小包总的个人博客，收藏了许多前端方面的文章。包括css3、html5、js、webpack、gulp、reactjs、vuejs、nodejs,javascript等相关文章。用于学习web前端技术，提升自己的能力" >
	<link rel="stylesheet" href="/stylesheets/style.css">	
	<link href="https://cdn.bootcss.com/element-ui/1.3.3/theme-default/index.css" rel="stylesheet">
	<% if (htmlWebpackPlugin.options.production) {%>
	<script src="https://cdn.bootcss.com/vuex/2.3.1/vuex.min.js"></script>
	<script src="https://cdn.bootcss.com/vue/2.3.3/vue.min.js"></script>
	<script src="https://cdn.bootcss.com/vue-router/2.5.3/vue-router.min.js"></script>
	<script src="https://cdn.bootcss.com/element-ui/1.3.3/index.js"></script>
	<script src="https://cdn.bootcss.com/axios/0.16.1/axios.min.js"></script>
	<% } %>
</head>
<body>
	<div id="app">

    </div>
</body>
</html>
