<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>小学堂托管班等着你的到来</title>
	<meta name="Keywords" content="巴南区融汇大道玫瑰公馆4栋2-2">
	<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
	<style type="text/css" media="screen">
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}
		li {
			margin: 10px 0;
		}
		h1 {
			font-size: 24px;
			color: #1271ec;
			font-weight: bold;
		}
		li {
			font-size: 18px;
			color: #d620be;
		}
		.discount {
			font-size: 20px;
			color: #627ac3;
		}
		.discount span {
			color: red;
			margin: 0 5px;
			font-size: 24px;
			font-weight: bold;
		}
		.infoImage {
			width: 100%;
		}
		div {
			text-align: center;
			margin-top: 20px;
		}
		div p {
			margin: 0;
			padding: 0;
		}
		div img {
			width: 153px;
		}
	</style>
</head>
<body>
	<ul>
		<li><h1>小学堂托管班等着你的到来，<br />期待更出彩的你！！！</h1></li>
		<li>新学期优惠活动，先到先得......</li>
		<li class="discount">前5名，优惠<span>100</span>元</li>
		<li class="discount">团体报名，优惠<span>50</span>元</li>
	</ul>
	<img class="infoImage" src="https://red-1252923150.cos.ap-chengdu.myqcloud.com/temp/1.png" alt="托管详情">
	<div>
		<p>长按下方二维码，即可咨询哟</p>
		<img src="https://red-1252923150.cos.ap-chengdu.myqcloud.com/temp/2.png" alt="二维码">
	</div>
</body>
</html>